@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Thicccboi';
	src: url('/fonts/THICCCBOI-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Thicccboi';
	src: url('/fonts/THICCCBOI-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Thicccboi';
	src: url('/fonts/THICCCBOI-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
